@import "~bootstrap/scss/bootstrap";
html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: Nunito, sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: 300;
  background-color: #f4f7f9;
  a {
    &:hover {
      text-decoration: none;
    }
  }
}
.grey {
  color: #63696e;
}
.active {
  color: aquamarine !important;
  svg {
    color: aquamarine !important;
  }
}
/*** framer menu css  ***/
.motionMenu {
  nav {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 300px;
    z-index: 99;
  }

  .background {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 300px;
    background: #fff;
  }

  button {
    outline: none;
    border: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    cursor: pointer;
    position: absolute;
    top: 18px;
    left: 15px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: transparent;
  }

  ul,
  li {
    margin: 0;
    padding: 0;
  }

  ul {
    padding: 25px;
    position: absolute;
    top: 100px;
    width: 230px;
  }

  li {
    list-style: none;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .icon-placeholder {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    flex: 40px 0;
    margin-right: 20px;
  }

  .text-placeholder {
    border-radius: 5px;
    width: 200px;
    height: 20px;
    flex: 1;
  }

  .refresh {
    padding: 10px;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    width: 20px;
    height: 20px;
    top: 10px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
}

.clickable {
  cursor: pointer;
}

.hoverable:hover {
  opacity: 0.7;
}

.red-text {
  color: #f44336 !important;
}

.page-wrapper {
  padding-top: 20px;
}
.headerText {
  padding-top: 40px;
}

.card.fj-card {
  .card-body-wrapper {
    background-color: #fff;
    box-shadow: 2px 5px 25px rgba(0, 0, 0, 0.15);
    min-height: 280px;
    position: relative;
    z-index: 2;
    padding: 20px;
    padding-bottom: 40px;
  }

  .card-body {
    padding: 15px 0px 0px;

    .card-title {
      font-weight: bold;
      margin-bottom: 3px;
    }
  }

  .card-date {
    font-size: 13px;
  }

  .card-main-title {
    font-size: 22px;
  }

  .card-header {
    background-color: transparent;
    padding: 0px 0px 15px;
    img {
      --size: 45px;
      background-color: #fff;
      border-radius: 50%;

      top: calc(-1 * (var(--size) / 2));
      width: var(--size);
      height: var(--size);
    }
  }

  .card-button {
    border-radius: 10px;
    cursor: pointer;
    color: #ffffff;
    font-family: var(--font-family-primary);
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 0.15rem;
    padding-top: 1.5rem !important /* @TODO temp !!!*/;
    padding: 0.75rem 1.5rem;
    background-color: hsl(210, 5%, 41%);
    border-color: hsl(210, 5%, 36%);
    box-shadow: 0 5px 0 hsl(210, 5%, 20%);
    bottom: -45px;
    position: absolute;
    right: 1.5rem;
    -webkit-transition: -webkit-transform 0.2s;
    transition: -webkit-transform 0.2s;
    transition: transform 0.2s;
    transition: transform 0.2s, -webkit-transform 0.2s;

    &:hover {
      background-color: hsl(210, 5%, 51%);
      border-color: hsl(210, 5%, 41%);
      -webkit-transform: translateY(0.25rem);
      transform: translateY(0.25rem);
    }
  }

  &.fj-card-list {
    .card-body-wrapper {
      min-height: 180px;
    }

    .card-header {
      background-color: transparent;
      padding-bottom: 5px;
    }
  }
}

.card.fj-card.placeholder {
  color: transparent;
  .image-placeholder {
    height: 200px;
    width: 100%;
    background-color: #bebebe;
  }

  .card-title,
  .card-text,
  .card-date {
    background-color: #bebebe;
  }
}

.card {
  margin-bottom: 60px;
}

.fj-navbar.fj-nav-base {
  width: 100%;
  padding: 20px 0px;

  .fj-navbar {
    &-brand {
      color: black;
      font-size: 24px;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: bold;
    }

    &-item {
      margin-left: 20px;
      margin-right: 20px;
    }

    &-link {
      color: black;
      letter-spacing: 0.8px;
      font-size: 18px;
      text-transform: uppercase;

      &.active {
        color: #dba919;
      }

      &:hover,
      &:focus {
        color: #dba919;
      }
    }
  }

  .fj-dropdown-menu {
    .fj-dropdown-item {
      color: #4e4e4e;

      &.active {
        color: #dba919;
      }
    }

    .fj-dropdown-toggle {
      color: white;
      margin-left: 10px;
      margin-right: 10px;
    }
  }
}

.fj-navbar.fj-nav-base.fj-nav-default {
  padding: 30px;
  background-color: black !important;
}

.bg-transparent.menu-open {
  background-color: #2c3e50 !important;
}

.bg-transparent.menu-close {
  transition: 1s;
}

.card-header {
  display: flex;
  align-items: center;

  &-title {
    margin-bottom: 0;
  }
}

.hljs {
  padding: 20px 20px 10px;
  border-radius: 10px;
}

.code-filename,
.image-alt {
  opacity: 0.6;
  margin-top: 10px;
  font-style: italic;
  font-size: 14px;
}

.blog-image {
  margin-bottom: 10px;
  text-align: center;

  > img {
    max-width: 100%;
  }

  &-left {
    float: left;
    margin-right: 30px;
  }

  &-right {
    float: right;
    margin-left: 30px;
  }
}
.image-alt {
  margin-top: 3px;
}

.blog-detail-page {
  font-size: 19px;

  .blog-detail-header {
    .lead {
      font-size: 17px;
    }
    &-title {
      font-size: 52px;
    }
  }
}

.admin-intro {
  .welcome-text {
    font-size: 18px;
  }
}

.dark {
  .card.fj-card {
    background-color: #232129;
    transition: color 0s ease-out 0s, background 0.2s ease-out 0s;
    .card-body-wrapper {
      background-color: #232129;
      transition: color 0s ease-out 0s, background 0.2s ease-out 0s;
    }

    .card-button {
      background-color: #9b5f5f;
    }
  }

  .fj-navbar.fj-nav-base {
    width: 100%;
    padding: 20px 0px;

    .fj-navbar {
      &-brand {
        color: #ffffff;
      }

      &-link {
        color: #ffffff;
      }
    }
  }
}

.day-night-toggle.react-toggle {
  &.react-toggle--checked:hover {
    &:not(.react-toggle--disabled) .react-toggle-track {
      background-color: black;
    }
  }

  .react-toggle-track {
    background-color: black;
    &:hover {
      background-color: black;
    }

    &-x,
    &-check {
      right: 8px;
      width: 15px;
      height: 15px;

      svg {
        width: 100%;
        height: 100%;
      }
    }
  }
}

.page-footer {
  padding: 40px;
  font-size: 20px;
  text-align: center;

  a {
    color: #63696e;
  }
}

.post {
  background-color: #fff;
  box-shadow: 2px 5px 25px rgba(0, 0, 0, 0.15);
  min-height: 100px;
  width: 100%;
  position: relative;
  z-index: 2;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  h3 {
    color: #63696e;
    font-weight: bold;
  }
  p {
    color: #4e4e4e;
    margin-left: 10px;
    margin-top: 3px;
  }
  .image {
    position: relative;
    background-color: #4e4e4e;
    overflow: hidden;
    padding-top: 56.25%;
    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .project-image {
    background-color: #24b47e;
    width: 100%;
    height: 400px;
    border-radius: 3px;
    position: relative;
    h4 {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .project-title {
  }
  .project-details {
  }
  ul {
    list-style: none;
  }
}
.catItem {
  padding: 10px 20px;
  margin: 5px;
  color: hsl(210, 5%, 51%);
  background-color: aquamarine;
  border-radius: 6px;
}
.subStrText {
  height: 48px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.moreBtn {
  outline: none;
  border: none;
  border-radius: 6px;
  background-color: aquamarine;
  padding: 5px 20px;
  color: #7c8288;
  font-weight: bold;
}

.timeline {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;

  &__event {
    background: #fff;
    margin-bottom: 20px;
    position: relative;
    display: flex;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
      0 18px 36px -18px rgba(0, 0, 0, 0.3),
      0 -12px 36px -8px rgba(0, 0, 0, 0.025);

    &__title {
      font-size: 1.2rem;
      line-height: 1.4;
      text-transform: uppercase;

      font-weight: 600;
      color: #9251ac;
      letter-spacing: 1.5px;
    }
    &__content {
      padding: 20px;
    }
    &__date {
      color: #f6a4ec;
      font-size: 1.5rem;
      font-weight: 600;
      white-space: nowrap;
    }
    &__icon {
      border-radius: 8px 0 0 8px;
      background: #9251ac;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-basis: 40%;
      font-size: 2rem;
      color: #9251ac;
      padding: 20px;

      i {
        position: absolute;
        top: 50%;
        left: -65px;
        font-size: 2.5rem;
        transform: translateY(-50%);
      }
    }
    &__description {
      flex-basis: 60%;
    }

    &:after {
      content: "";
      width: 2px;
      height: 100%;
      background: #9251ac;
      position: absolute;
      top: 52%;
      // transform: translateY(-50%);
      left: -3.5rem;
      z-index: -1;
    }

    &:before {
      content: "";
      width: 5rem;
      height: 5rem;
      position: absolute;
      background: #f6a4ec;
      border-radius: 100%;
      left: -6rem;
      // right: 90%;
      top: 50%;
      transform: translateY(-50%);
      border: 2px solid #9251ac;
    }
    &--type2 {
      &:before {
        background: #87bbfe;
        border-color: #555ac0;
      }
      &:after {
        background: #555ac0;
      }
      .timeline__event__date {
        color: #87bbfe;
      }

      .timeline__event__icon {
        background: #555ac0;
        color: #555ac0;
      }
      .timeline__event__title {
        color: #555ac0;
      }
      .timeline__event__title {
      }
    }

    &--type3 {
      &:before {
        background: #aff1b6;
        border-color: #24b47e;
      }
      &:after {
        background: #24b47e;
      }
      .timeline__event__date {
        color: #aff1b6;
      }

      .timeline__event__icon {
        background: #24b47e;
        color: #24b47e;
      }
      .timeline__event__title {
        color: #24b47e;
      }
      .timeline__event__title {
      }
    }
    &--type3 {
      &:before {
        background: #aff1b6;
        border-color: #24b47e;
      }
      &:after {
        background: #24b47e;
      }
      .timeline__event__date {
        color: #aff1b6;
      }

      .timeline__event__icon {
        background: #24b47e;
        color: #24b47e;
      }
      .timeline__event__title {
        color: #24b47e;
      }
      .timeline__event__title {
      }
    }
    &:last-child {
      &:after {
        content: none;
      }
    }
  }
}

.challange {
  h4 {
    color: #24b47e;
  }
}
.cvContainer {
  display: flex;
  width: 1170px;
  max-height: 100%;
  margin: 0 auto;
  background: white;
  /* border: 1px solid #c7c7c7; */

  .item-header {
    font-weight: 600;
    font-size: 20px;
    &--gutter {
      padding: 0 10px 10px 30px;
    }
    &--black {
      color: rgb(47, 58, 64);
    }
    &--red {
      color: #f76060;
    }
    &--md {
      font-size: 16px;
      font-weight: bold;
    }
  }
  .b-bottom {
    width: 180px;
    margin-left: 26px;
    margin-bottom: 20px;
    border-bottom: 2px solid white;
    &--red {
      padding: 1px 0 0;
      margin-left: 0;
      width: 90%;
      border-bottom: 3px solid #f76060;
    }
  }
  .bg-red {
    background-color: #f76060;
  }
  .color-white {
    color: white;
  }
  .leftSide,
  .rightSide {
    padding: 20px 10px 20px;
    color: #575757;
  }
  .leftSide {
    width: 30%;
    h5 {
      text-align: center;
      font-size: 16px;
    }
  }
  .rightSide {
    width: 70%;
  }
  .details {
    padding: 20px 0 20px 0;
    .content {
      padding: 10px 0;
      p {
        letter-spacing: 1px;
        line-height: 20px;
      }
    }
    .item {
      padding: 10px 0 10px 0;
      svg {
        font-size: 20px;
        margin-right: 10px;
        color: #f76060;
      }
      .bar {
        padding: 5px;
        border: 1px solid white;
        height: 20px;
        width: 100%;
        background: #f76060;
      }
      &:nth-child(2) {
        .bar {
          width: 100%;
        }
      }
      &:nth-child(3) {
        .bar {
          width: 90%;
        }
      }
      &:nth-child(4) {
        .bar {
          width: 80%;
        }
      }
      &:nth-child(5) {
        .bar {
          width: 85%;
        }
      }
      &:nth-child(6) {
        .bar {
          width: 70%;
        }
      }
      &:nth-child(7) {
        .bar {
          width: 80%;
        }
      }
      &:nth-child(8) {
        .bar {
          width: 75%;
        }
      }
      &:nth-child(9) {
        .bar {
          width: 70%;
        }
      }
      &:nth-child(10) {
        .bar {
          width: 65%;
        }
      }
      &:nth-child(11) {
        .bar {
          width: 50%;
        }
      }
      &:nth-child(12) {
        .bar {
          width: 75%;
        }
      }
      &:nth-child(13) {
        .bar {
          width: 75%;
        }
      }
      &:nth-child(14) {
        .bar {
          width: 70%;
        }
      }
    }
  }
}
@media (max-width: 786px) {
  .timeline__event {
    flex-direction: column;
  }
  .timeline__event__icon {
    border-radius: 4px 4px 0 0;
  }
}
